---
layout: default
---

<section class="main-content">


    <article class="module color-3">
    <h1> Welcome! </h1>
    This is the official website for the Spring 2016 Peer-led Biocomputing Group at UT Austin, offered through the <a href="http://ccbb.biosci.utexas.edu/">Center for Computational Biology and Bioinformatics</a>. The goal of this class is to take away any fear of programming that you may have so that computing can become an advantage rather than a barrier to your research. 
    <br><br>
    The class will meet on Wednesdays from 4-5 pm in FNT 1.104. In addition, feel free to join us for Open Coding Hour at Tuesdays 5-6pm in CCBB conference room (GDC 7.514) for any extra help or feedback.       
    <br><br>
    Please use the links to the left for contact information and some useful biocomputing resources. Please also feel free to participate in the <a href="https://groups.google.com/forum/#!forum/utbiocomputing">Biocomputing Google Groups Forum</a> with any questions that you have as you begin your biocomputing journey!
    <br><br>
    The introductory survey can be found <a href="https://www.surveymonkey.com/r/LD3PJ53">here</a>.
    <br><br>
        
    
    <h2> Installation and Setup Instructions </h2>
    If you are using a <b>Mac</b>, you will need to install a text editor. Some excellent options are either <a href="http://www.barebones.com/products/textwrangler/">Text Wrangler</a>, <a href="http://www.sublimetext.com/2">Sublime Text</a>, or <a href="https://atom.io/">Atom</a>. Alternatively, you can download Apple's text editor, XCode, from the App Store. 
    <br><br>
    <b><font color="red"> 1/25/16: Updated Windows instructions! </font></b><br>
    If you are using a <b>Windows/PC</b>, you will need to install some software on your computer in order to use python. Follow <a href="{{ site.baseurl }}/virtualbox_instructions/">these instructions (for Windows) </a> to setup your computer. You should setup your system no later than the second week of class (1/27/16). <b> Do not save installation to the last minute - it may take several hours, and you may encounter difficulties!! </b> If you need help, please feel free come to Open Coding Hour in GDC 7.514 on Tuesday 1/26/16.
    </article>
    
    
    <article class="module color-3">
    
        <h1> Schedule and Materials </h1>
        <table>
            <tr>
                <th>Date</th> 
                <th>Topic</th>
                <th>Materials (Download Link)</th>
                <th>Instructor</th>
            </tr>

        {% for post in site.posts reversed %}
             <tr>
                 <td> {{ post.date | date: '%B %d, %Y' }} </t>
                 <td align="left"> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> </td>
                 <td> <a href="{{ post.materials }}">Cheatsheet and Files</a></td> 
                 <td> {{ post.instructor }} </td> 
              </tr>   

        {% endfor %}
        </table>
    
    
    
    
    </article>


    <!--
   {% for post in site.posts %}
        <article class="module color-3">
                <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
                <span class="category">{{ post.categories | array_to_sentence_string }}</span>
                <p>{{ post.excerpt | strip_html | truncate: 250 }}</p>
        </article>
    {% endfor %}

   
    <div class="module pagination color-3">
        {% if paginator.previous_page %}
            <a href="{{ site.url }}{{ paginator.previous_page_path }}" class="previous">Previous</a>
        {% endif %}

        <span class="page_number">&mdash; {{ paginator.page }} of {{ paginator.total_pages }} &mdash;</span>

        {% if paginator.next_page %}
            <a href="{{ site.url }}{{ paginator.next_page_path }}" class="next">Next</a>
        {% endif %}
    </div>-->

</section>


