<!DOCTYPE html>
<html lang="en">
{% include head.html %}
{% include googleanalytics.html %}


<body>
    <header id="top" class="main-header">

        <div class="module title color-1">
            <a href="{{ site.baseurl }}/">{{ site.name }}</a>
        </div>

        <div class="module description color-2">
            {{ site.description }}
        </div>

        <nav class="module main-menu color-4">
            <a href="{{ site.baseurl }}/resources/">Resources</a>
            <a href="{{ site.baseurl }}/contact/">Contact</a>
        </nav>

    </header>

    {{ content }}

    {% include footer.html %}

</body>
</html>
